<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link"><img src="../../assets/images/gups/basis.png"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link octopod" routerLink="/octopod">{{userName}} mentőcsapata</a>
      </li>
    </ul>
    <ul class="navbar-nav icons">
      <li class="nav-item">
        <a class="nav-link"><img src="../../assets/images/gups/gupA.png" routerLink="/octopod"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"><img src="../../assets/images/crew/crew.png" routerLink="/octopod"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"><img src="../../assets/images/animals/bowhead.png" routerLink="/octopod"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"><img src="../../assets/images/logout_2.png" (click)="logoutUser()"></a>
      </li>
    </ul>
  </div>
</nav>
